[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/supertab.git"]
	path = bundle/supertab.git
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/lustyjuggler"]
	path = bundle/lustyjuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/fuzzy-finder"]
	path = bundle/fuzzy-finder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/vim-scripts/jade.vim.git
